In [1]:
print("hello world")

hello world

#### Pandas external library loading

In [2]:
import pandas as pd

#### Reading data from Excel

In [3]:
# Data loading options
# df = pd.read_excel(file_path, sheet_name='name', skiprows=0)
# df = pd.read_csv(file_path, sep=';', skiprows=0)

In [ ]:
# Stock data loading
file_path = "C:\\Python repositories\\Education project\\src\\data\\input\\Stock.xlsx"

stock = pd.read_excel(file_path)
stock.tail()

                                        SKU       Date  Stock
20071  c7d88a1d-1ed1-4aad-84ed-186afde4e4be 2024-06-01    0.7
20072  e47462a3-427a-4727-903a-46fa27578068 2024-06-01    0.7
20073  06bbb978-eefb-4d23-aede-1eb453a21177 2024-06-01    0.7

In [5]:
# Check types of columns
stock.dtypes

SKU              object
Date     datetime64[ns]
Stock           float64
dtype: object

In [ ]:
stock.tail()

                                    SKU       Date   Stock
0  03de0be7-061f-495f-b358-10edfa876017 2023-01-01  5304.6
1  17f59277-c7e2-47e1-a7bd-3c0963f52786 2023-01-01  2254.0
2  2cb2aaca-b269-46ac-863d-21a8269b4946 2023-01-01  3556.0

In [ ]:
# COGS data loading
file_path = "C:\\Python repositories\\Education project\\src\\data\\input\\COGS.xlsx"

cogs = pd.read_excel(file_path)
cogs.tail()

                                    SKU      COGS
0  39907e40-92d3-4170-aebe-4c7f3ff3d1e1  896000.0
1  8c3f09b6-e170-42a8-aea3-500d3e7c7e33  487900.0
2  32f84259-b725-4632-a459-60582a6dc184  373100.0

In [8]:
# Check types of columns
cogs.dtypes

SKU      object
COGS    float64
dtype: object

#### Reading data from text file CSV Comma-Separated Values

In [ ]:
# Stock data loading
file_path = "C:\\Python repositories\\Education project\\src\\data\\input\\Stock.csv"

stock = pd.read_csv(file_path, sep=';')
stock.tail()

                                    SKU                 Date   Stock
0  03de0be7-061f-495f-b358-10edfa876017  2023-01-01 00:00:00  5304,6
1  17f59277-c7e2-47e1-a7bd-3c0963f52786  2023-01-01 00:00:00    2254
2  2cb2aaca-b269-46ac-863d-21a8269b4946  2023-01-01 00:00:00    3556

In [10]:
# Check types of columns
stock.dtypes

SKU      object
Date     object
Stock    object
dtype: object

In [ ]:
# COGS data loading
file_path = "C:\\Python repositories\\Education project\\src\\data\\input\\COGS.csv"

cogs = pd.read_csv(file_path, sep=';')
cogs.tail()

                                    SKU    COGS
0  39907e40-92d3-4170-aebe-4c7f3ff3d1e1  896000
1  8c3f09b6-e170-42a8-aea3-500d3e7c7e33  487900
2  32f84259-b725-4632-a459-60582a6dc184  373100

In [12]:
# Check types of columns
cogs.dtypes

SKU     object
COGS    object
dtype: object

#### Change types to numeric (float)

In [13]:
# Change type to numeric
# Replace comma with dot and convert to float
stock['Stock'] = stock['Stock'].str.replace(',', '.').astype(float)
# Check
stock.dtypes

SKU       object
Date      object
Stock    float64
dtype: object

In [14]:
# Change type to numeric
# Replace comma with dot and convert to float
cogs['COGS'] = cogs['COGS'].str.replace(',', '.').astype(float)
# Check
cogs.dtypes

SKU      object
COGS    float64
dtype: object

#### Change Date to datetime format

In [15]:
# Change Date column to datetime format
stock['Date'] = pd.to_datetime(stock['Date'])
stock.dtypes

SKU              object
Date     datetime64[ns]
Stock           float64
dtype: object

In [ ]:
# Create a string Period column from Date
# New column
stock['Period'] = stock['Date']
# Change format
stock['Period'] = pd.to_datetime(stock['Date']).dt.strftime('%Y-%m')
# Delete old column
del stock['Date']
stock.tail()

In [ ]:
cogs.tail()

                                    SKU      COGS
0  39907e40-92d3-4170-aebe-4c7f3ff3d1e1  896000.0
1  8c3f09b6-e170-42a8-aea3-500d3e7c7e33  487900.0
2  32f84259-b725-4632-a459-60582a6dc184  373100.0

In [ ]:
# Vlookup COGS column to Stock table
stock_cogs = pd.merge(stock, cogs, how='left', on='SKU')
stock_cogs.tail()

                                    SKU   Stock   Period      COGS
0  03de0be7-061f-495f-b358-10edfa876017  5304.6  2023-01  7.177985
1  17f59277-c7e2-47e1-a7bd-3c0963f52786  2254.0  2023-01  4.617749
2  2cb2aaca-b269-46ac-863d-21a8269b4946  3556.0  2023-01  3.254207

In [ ]:
# New Stock Value column creation
stock_cogs['Value'] = stock_cogs['Stock']*stock_cogs['COGS']
stock_cogs.tail()

,SKU,Stock,Period,COGS,Value
0,03de0be7-061f-495f-b358-10edfa876017,5304.6,2023-01,7.177985,38076.337656
1,17f59277-c7e2-47e1-a7bd-3c0963f52786,2254.0,2023-01,4.617749,10408.407053
2,2cb2aaca-b269-46ac-863d-21a8269b4946,3556.0,2023-01,3.254207,11571.961063

In [ ]:
# Choose columns in a specific order as copy
required_cols = ['SKU', 'Period', 'Value']
abc_input = stock_cogs[required_cols].copy()
abc_input.tail()

                                    SKU   Period         Value
0  03de0be7-061f-495f-b358-10edfa876017  2023-01  38076.337656
1  17f59277-c7e2-47e1-a7bd-3c0963f52786  2023-01  10408.407053
2  2cb2aaca-b269-46ac-863d-21a8269b4946  2023-01  11571.961063

In [22]:
# Aggregate values by on SKU, Period level
aggregation_cols = ['SKU','Period']
abc_input = abc_input.groupby(aggregation_cols, as_index=False).agg(
{'Value':'sum'})

In [ ]:
import pandas as pd
import numpy as np

# ABC Classification function
def assign_abc_groups(df: pd.DataFrame, a_threshold: float = 0.80, b_threshold: float = 0.95) -> pd.DataFrame:
    """
    Assigns ABC classification groups to SKUs per Period based on cumulative value contribution.

    Enhancements:
    -------------
    - Handles cases where total period value is 0 by assigning all SKUs in that period to group 'C'.

    Parameters
    ----------
    df : pd.DataFrame
        Input DataFrame with columns ['SKU', 'Period', 'Value'].
    a_threshold : float, optional
        Cumulative contribution cutoff for class A (default=0.80).
    b_threshold : float, optional
        Cumulative contribution cutoff for class B (default=0.95).

    Returns
    -------
    pd.DataFrame
        DataFrame with columns ['SKU', 'Period', 'Value', 'ABC_Group'].

    Raises
    ------
    ValueError
        If required columns are missing.
    TypeError
        If 'Value' is not numeric.
    """

    # === 1. Input validation ===
    required_columns = {'SKU', 'Period', 'Value'}
    if not required_columns.issubset(df.columns):
        missing = required_columns - set(df.columns)
        raise ValueError(f"Missing required columns: {missing}")

    if not pd.api.types.is_numeric_dtype(df['Value']):
        raise TypeError("'Value' column must be numeric (float or int).")

    # Fill missing values in Value column
    df = df.copy()
    df['Value'] = df['Value'].fillna(0.0)

    # === 2. Aggregate total values per SKU/Period ===
    agg_df = (
        df.groupby(['Period', 'SKU'], as_index=False)['Value']
        .sum()
    )

    # === 3. Sort, rank and compute cumulative metrics ===
    agg_df = agg_df.sort_values(['Period', 'Value'], ascending=[True, False])

    # Compute total value per Period
    agg_df['Total_Period_Value'] = agg_df.groupby('Period')['Value'].transform('sum')

    # Compute cumulative value per Period
    agg_df['Cumulative_Value'] = agg_df.groupby('Period')['Value'].cumsum()

    # Handle division safely: if total = 0, set cumulative percent = 1 (forcing C group)
    agg_df['Cumulative_Percent'] = np.where(
        agg_df['Total_Period_Value'] == 0,
        1.0,
        agg_df['Cumulative_Value'] / agg_df['Total_Period_Value']
    )

    # === 4. ABC Group assignment ===
    def classify_abc(cum_pct: float, total_val: float) -> str:
        """
        Determine ABC class:
        - If total value = 0  → assign 'C'
        - Else apply thresholds normally.
        """
        if total_val == 0:
            return 'C'
        if cum_pct <= a_threshold:
            return 'A'
        elif cum_pct <= b_threshold:
            return 'B'
        else:
            return 'C'

    # Apply classification row-wise
    agg_df['ABC_Group'] = agg_df.apply(
        lambda x: classify_abc(x['Cumulative_Percent'], x['Total_Period_Value']),
        axis=1
    )

    # === 5. Merge results back into original DataFrame ===
    result_df = pd.merge(
        df,
        agg_df[['Period', 'SKU', 'ABC_Group']],
        on=['Period', 'SKU'],
        how='left'
    )

    # === 6. Validation ===
    if result_df['ABC_Group'].isna().any():
        raise RuntimeError("ABC group assignment failed for some rows.")

    return result_df

In [ ]:
# ABC classification operation
df_result = assign_abc_groups(abc_input)
df_result.tail()

                                     SKU   Period          Value ABC_Group
0   000c0bb0-ff93-47a5-bec5-3f1462b7e5fe  2024-04    2144.004290         C
1   000c0bb0-ff93-47a5-bec5-3f1462b7e5fe  2024-05    2144.004290         C
2   000c0bb0-ff93-47a5-bec5-3f1462b7e5fe  2024-06    2144.004290         C
3   000c4567-9127-4219-8388-5e80b5ca69f9  2024-06    2981.264917         C
4   0011983b-b63f-4c37-831b-575d4f098bfe  2024-01  131880.841045         B
5   0018d4b9-2e31-489b-b900-5d6259a8a80f  2023-08  238112.799615         A
6   0018d4b9-2e31-489b-b900-5d6259a8a80f  2023-09  238039.289103         A
7   0018d4b9-2e31-489b-b900-5d6259a8a80f  2023-10  237849.386947         A
8   0018d4b9-2e31-489b-b900-5d6259a8a80f  2023-11  237812.631691         A
9   0018d4b9-2e31-489b-b900-5d6259a8a80f  2023-12  237812.631691         A
10  0018d4b9-2e31-489b-b900-5d6259a8a80f  2024-01  608520.017045         A
11  0018d4b9-2e31-489b-b900-5d6259a8a80f  2024-02  733426.628420         A
12  0018d4b9-2e31-489b-b900-5d6259a8a80f  2024-03  570913.264360         A
13  0018d4b9-2e31-489b-b900-5d6259a8a80f  2024-04  409539.313235         A
14  0018d4b9-2e31-489b-b900-5d6259a8a80f  2024-05  217431.842283         B

In [ ]:
import os

# Saving in the same folder as the Python (py or ipynb) file using one of two popular Excel libraries
def save_local_file(data: pd.DataFrame, name: str) -> None:
    """
    Saves a DataFrame to an Excel file using the preferred engine.
    Falls back to openpyxl if xlsxwriter is unavailable.
    """
    dump_file_name = f"{name}.xlsx"
    data_dump = os.path.join(os.getcwd(), dump_file_name)

    try:
        # Try xlsxwriter first (faster, supports formatting)
        writer = pd.ExcelWriter(data_dump, engine="xlsxwriter")
    except ModuleNotFoundError:
        print("⚠️  xlsxwriter not found. Falling back to openpyxl.")
        writer = pd.ExcelWriter(data_dump, engine="openpyxl")

    # Write to Excel
    data.to_excel(writer, sheet_name=name, index=False)

    # Save and close the writer properly
    writer.close()
    print(f"✅ Data successfully saved as: {data_dump}")

In [26]:
# Save output file
save_local_file(df_result, "abc")

✅ Data successfully saved as: c:\Python repositories\Education project\src\code\abc.xlsx

In [27]:
from modules.input_output import *

In [28]:
# Save output file
export_path='./output'
output_func.save_file(df_result, "abc", export_path)

✅ Data successfully saved as: ./output\abc.xlsx