In [2]:
print("hello world")

hello world

#### Pandas external library loading

In [3]:
import pandas as pd

#### Reading data from Excel

In [ ]:
# Data loading options
# df = pd.read_excel(file_path, sheet_name=sheet_name, skiprows=skip_rows)
# df = pd.read_csv(file_path, sep=';', skiprows=skip_rows)

In [36]:
file_path = "C:\\Python repositories\\Education project\\src\\data\\input\\Stock.xlsx"

stock = pd.read_excel(file_path)
stock[:3]

    Period   Stock                                   SKU
0  2023-01  7578.0  cc490ca8-11e3-4608-95d9-5e90c3deee5f
1  2023-01  3220.0  1b96daf4-989f-49b8-a1bd-a6f4bcdc45df
2  2023-01  5080.0  c09205b9-eb96-4ab5-ad76-fcb361730011

In [37]:
# Check types of columns
stock.dtypes

Period     object
Stock     float64
SKU        object
dtype: object

In [38]:
# COGS data loading
file_path = "C:\\Python repositories\\Education project\\src\\data\\input\\COGS.xlsx"

cogs = pd.read_excel(file_path)
cogs[:3]

                                    SKU           COGS
0  00c8b2e7-dd9a-4694-ac40-4f31037616b9  213333.333333
1  a0a9e370-3be0-4024-8687-e821f4e49001  116166.666667
2  88dbce98-7f8b-4751-ba5b-7c6ce263ffa6   88833.333333

In [39]:
# Check types of columns
cogs.dtypes

SKU      object
COGS    float64
dtype: object

#### Reading data from text file CSV Comma-Separated Values

In [58]:
# Stock data loading
file_path = "C:\\Python repositories\\Education project\\src\\data\\input\\Stock.csv"

stock = pd.read_csv(file_path, sep=';')
stock[:3]

    Period Stock                                   SKU
0  2023-01  7578  cc490ca8-11e3-4608-95d9-5e90c3deee5f
1  2023-01  3220  1b96daf4-989f-49b8-a1bd-a6f4bcdc45df
2  2023-01  5080  c09205b9-eb96-4ab5-ad76-fcb361730011

In [59]:
# Check types of columns
stock.dtypes

Period    object
Stock     object
SKU       object
dtype: object

In [60]:
file_path = "C:\\Python repositories\\Education project\\src\\data\\input\\COGS.csv"

cogs = pd.read_csv(file_path, sep=';')
cogs[:3]

                                    SKU         COGS
0  00c8b2e7-dd9a-4694-ac40-4f31037616b9  213333,3333
1  a0a9e370-3be0-4024-8687-e821f4e49001  116166,6667
2  88dbce98-7f8b-4751-ba5b-7c6ce263ffa6  88833,33333

In [61]:
# Check types of columns
cogs.dtypes

SKU     object
COGS    object
dtype: object

#### Change types to numeric (float)

In [62]:
# Change type to numeric
# Replace comma with dot and convert to float
stock['Stock'] = stock['Stock'].str.replace(',', '.').astype(float)
# Check
stock.dtypes

Period     object
Stock     float64
SKU        object
dtype: object

In [63]:
# Change type to numeric
# Replace comma with dot and convert to float
cogs['COGS'] = cogs['COGS'].str.replace(',', '.').astype(float)
# Check
cogs.dtypes

SKU      object
COGS    float64
dtype: object

In [65]:
stock[:3]

    Period   Stock                                   SKU
0  2023-01  7578.0  cc490ca8-11e3-4608-95d9-5e90c3deee5f
1  2023-01  3220.0  1b96daf4-989f-49b8-a1bd-a6f4bcdc45df
2  2023-01  5080.0  c09205b9-eb96-4ab5-ad76-fcb361730011

In [64]:
cogs[:3]

                                    SKU          COGS
0  00c8b2e7-dd9a-4694-ac40-4f31037616b9  213333.33330
1  a0a9e370-3be0-4024-8687-e821f4e49001  116166.66670
2  88dbce98-7f8b-4751-ba5b-7c6ce263ffa6   88833.33333

In [66]:
# Vlookup COGS column to Stock table
stock_cogs = pd.merge(stock, cogs, how='left', on='SKU')
stock_cogs[:3]

    Period   Stock                                   SKU      COGS
0  2023-01  7578.0  cc490ca8-11e3-4608-95d9-5e90c3deee5f  1.709044
1  2023-01  3220.0  1b96daf4-989f-49b8-a1bd-a6f4bcdc45df  1.099464
2  2023-01  5080.0  c09205b9-eb96-4ab5-ad76-fcb361730011  0.774811

In [67]:
# New Stock Value column creation
stock_cogs['Value'] = stock_cogs['Stock']*stock_cogs['COGS']
stock_cogs[:3]

,Period,Stock,SKU,COGS,Value
0,2023-01,7578.0,cc490ca8-11e3-4608-95d9-5e90c3deee5f,1.709044,12951.135258
1,2023-01,3220.0,1b96daf4-989f-49b8-a1bd-a6f4bcdc45df,1.099464,3540.274508
2,2023-01,5080.0,c09205b9-eb96-4ab5-ad76-fcb361730011,0.774811,3936.041180

In [68]:
# Choose columns in a specific order
required_cols = ['SKU', 'Period', 'Value']
abc_input = stock_cogs[required_cols].copy()
abc_input[:3]

                                    SKU   Period         Value
0  cc490ca8-11e3-4608-95d9-5e90c3deee5f  2023-01  12951.135258
1  1b96daf4-989f-49b8-a1bd-a6f4bcdc45df  2023-01   3540.274508
2  c09205b9-eb96-4ab5-ad76-fcb361730011  2023-01   3936.041180

In [69]:
import pandas as pd
import numpy as np

def assign_abc_groups(df: pd.DataFrame, a_threshold: float = 0.80, b_threshold: float = 0.95) -> pd.DataFrame:
    """
    Assigns ABC classification groups to SKUs per Period based on cumulative value contribution.

    Enhancements:
    -------------
    - Handles cases where total period value is 0 by assigning all SKUs in that period to group 'C'.

    Parameters
    ----------
    df : pd.DataFrame
        Input DataFrame with columns ['SKU', 'Period', 'Value'].
    a_threshold : float, optional
        Cumulative contribution cutoff for class A (default=0.80).
    b_threshold : float, optional
        Cumulative contribution cutoff for class B (default=0.95).

    Returns
    -------
    pd.DataFrame
        DataFrame with columns ['SKU', 'Period', 'Value', 'ABC_Group'].

    Raises
    ------
    ValueError
        If required columns are missing.
    TypeError
        If 'Value' is not numeric.
    """

    # === 1. Input validation ===
    required_columns = {'SKU', 'Period', 'Value'}
    if not required_columns.issubset(df.columns):
        missing = required_columns - set(df.columns)
        raise ValueError(f"Missing required columns: {missing}")

    if not pd.api.types.is_numeric_dtype(df['Value']):
        raise TypeError("'Value' column must be numeric (float or int).")

    # Fill missing values in Value column
    df = df.copy()
    df['Value'] = df['Value'].fillna(0.0)

    # === 2. Aggregate total values per SKU/Period ===
    agg_df = (
        df.groupby(['Period', 'SKU'], as_index=False)['Value']
        .sum()
    )

    # === 3. Sort, rank and compute cumulative metrics ===
    agg_df = agg_df.sort_values(['Period', 'Value'], ascending=[True, False])

    # Compute total value per Period
    agg_df['Total_Period_Value'] = agg_df.groupby('Period')['Value'].transform('sum')

    # Compute cumulative value per Period
    agg_df['Cumulative_Value'] = agg_df.groupby('Period')['Value'].cumsum()

    # Handle division safely: if total = 0, set cumulative percent = 1 (forcing C group)
    agg_df['Cumulative_Percent'] = np.where(
        agg_df['Total_Period_Value'] == 0,
        1.0,
        agg_df['Cumulative_Value'] / agg_df['Total_Period_Value']
    )

    # === 4. ABC Group assignment ===
    def classify_abc(cum_pct: float, total_val: float) -> str:
        """
        Determine ABC class:
        - If total value = 0  → assign 'C'
        - Else apply thresholds normally.
        """
        if total_val == 0:
            return 'C'
        if cum_pct <= a_threshold:
            return 'A'
        elif cum_pct <= b_threshold:
            return 'B'
        else:
            return 'C'

    # Apply classification row-wise
    agg_df['ABC_Group'] = agg_df.apply(
        lambda x: classify_abc(x['Cumulative_Percent'], x['Total_Period_Value']),
        axis=1
    )

    # === 5. Merge results back into original DataFrame ===
    result_df = pd.merge(
        df,
        agg_df[['Period', 'SKU', 'ABC_Group']],
        on=['Period', 'SKU'],
        how='left'
    )

    # === 6. Validation ===
    if result_df['ABC_Group'].isna().any():
        raise RuntimeError("ABC group assignment failed for some rows.")

    return result_df

In [70]:
# ABC classification operation
df_result = assign_abc_groups(abc_input)
df_result[:15]

                                     SKU   Period         Value ABC_Group
0   cc490ca8-11e3-4608-95d9-5e90c3deee5f  2023-01  12951.135258         C
1   1b96daf4-989f-49b8-a1bd-a6f4bcdc45df  2023-01   3540.274508         C
2   c09205b9-eb96-4ab5-ad76-fcb361730011  2023-01   3936.041180         C
3   227c4431-0b37-42c3-b7f3-3ff6cef530eb  2023-01  10132.834073         C
4   d0e54b78-96f1-43e6-870d-9ec85bd78127  2023-01   7166.968015         C
5   95d576b4-a611-48c5-8859-3e11e57125fa  2023-01   1049.590525         C
6   5933cf12-cd9f-4ba6-ae81-306a333ffc61  2023-01  36325.061540         B
7   23c901ad-bfa4-446e-a088-b27fa2749942  2023-01  33860.791737         B
8   22bd6d57-97bf-4a2e-9887-8b2882f02143  2023-01  17940.539285         C
9   2d6fe02d-042a-416a-a255-90fce7da4639  2023-01  17685.290207         C
10  432a4342-0a55-4de6-9f8b-00dd0374c2d8  2023-01  10626.594121         C
11  7a0f0e7e-7a99-4085-9c5c-d67add24dd9f  2023-01   4790.058630         C
12  f8484c54-d6d5-46f1-b515-490b3afd2795  2023-01  20791.232084         C
13  ff71cdbd-2f77-4592-af67-47bb6db7048a  2023-01    804.837845         C
14  bfda2d6b-45d0-437c-a845-02c593dbe139  2023-01   4675.082282         C

In [71]:
import os
# Saving in the same folder as the Python (py or ipynb) file using one of two popular Excel libraries
def save_file(data: pd.DataFrame, name: str) -> None:
    """
    Saves a DataFrame to an Excel file using the preferred engine.
    Falls back to openpyxl if xlsxwriter is unavailable.
    """
    dump_file_name = f"{name}.xlsx"
    data_dump = os.path.join(os.getcwd(), dump_file_name)

    try:
        # Try xlsxwriter first (faster, supports formatting)
        writer = pd.ExcelWriter(data_dump, engine="xlsxwriter")
    except ModuleNotFoundError:
        print("⚠️  xlsxwriter not found. Falling back to openpyxl.")
        writer = pd.ExcelWriter(data_dump, engine="openpyxl")

    # Write to Excel
    data.to_excel(writer, sheet_name=name, index=False)

    # Save and close the writer properly
    writer.close()
    print(f"✅ Data successfully saved as: {dump_file_name}")

In [72]:
# Save output file
save_file(df_result, "abc")

⚠️  xlsxwriter not found. Falling back to openpyxl.
✅ Data successfully saved as: abc.xlsx